html{
    font-family: 'Montserrat', sans-serif;
    background-color:  #001f3f;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 10px;
    background-color: white;
  }

  .contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 100%;
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact-form textarea {
    resize: vertical;
    height: 100px;
}
.contact-form button {
    width: 100%;
    padding: 12px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background: #0056b3;
}


  .logo{
    width: 18em;
  }

  span{
    font-weight: bold;
    font-size: 110%;
  }

  h1{
    color: white;
    font-size: 250%;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  h3 {
    margin-left: 20px;
  }
  
  .icon {
    margin-left: auto;
  }
  
  .menu-icon {
    display: none;
  }

.home{
    width: 3%;
    text-decoration: none;
}


.bouton-telechargement {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bouton-telechargement:hover {
    background-color: #2980b9; 
  }

  .MoiImage{
    width: 50%;
    border-radius: 35px;
  }

  .centre{
    text-align: center;
  }

  .blanc{
    color: white;
    font-size: 210%;
  }

  .texte1{
    line-height: 2.4;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 130%;
    width: 100%;
    text-align: start ;
  }

  .texte2 {
    line-height: 2.8;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 110%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .texte3 {
    line-height: 2.8;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 110%;
    text-align: center;
    width: 40%; 
    margin-left: 30%;
  }
  

  .realisaton{
    width: 80%;
  }

  /* Style pour les blocs "Tarif" */
.Tarif {
    display: flex;
    justify-content: space-around;
}

.tarif-bloc {
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tarif-bloc h2 {
    color: #333;
    font-size: 1.5em;
}

.tarif-bloc p {
    color: #666;
    font-size: 1.2em;
}

.tarif-bloc button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarif-bloc button:hover {
    background-color: #0056b3;
}

  .transform{
    transition: transform 0.3s ease;
  }
  
  .transform:hover {
    transform: scale(1.2); 
  }
  
  .skill {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
}

.skill .icons img {
    margin: 50px;
    width: 100%;
    max-width: 7em
}

  
  .skill h3 {
    margin-top: 0;
  }
  
  .bloc {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
  }

  .avis {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.avis h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.avis p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.4;
}

.rating {
    color: #ffc107;
    font-size: 1.5em;
    margin-top: 10px;
}

.profil-photo {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    margin-bottom: 10px;
}

  @media screen and (max-width: 768px) {

    body{
      text-align: center!important;
    }

    .tarif-bloc {
      width: 45%;
  }

    header {                              
      flex-direction: column;
      align-items: stretch;
      padding: -5%;
      border-radius: 30px;
    }
  
    nav {
      width: 100%;
      margin-bottom: 10px;  
    }
  
    nav {
      flex-direction: column;
    }


  .logo{
    display: none;
  }

  .Moi{
    display: none;
  }
  
    h3 {
      margin: 10px 0;
    }
  
    .icon {
      margin-left: 0;
    }
    
    .menu-icon {
      display: block;
      cursor: pointer;
      font-size: 1.5em;
      margin-left: auto;
    }
  
    #menu-toggle {
      display: none;
    }
  
    #menu-toggle:checked ~ nav {
      display: flex;
    }
  
    #menu-toggle:not(:checked) ~ nav {
      display: none;
    }

    h2{
      font-size: 100%;
    }


    .texte1{
      line-height: 2.4;
      font-family: Arial, sans-serif;
      color: white;
      font-size: 120%;
      width: 100%;
    }
  
    .texte2 {
      line-height: 2.8;
      font-family: Arial, sans-serif;
      color: white;
      font-size: 110%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
    }

      .texte3 {
    width: 80%; /* Réduit la largeur du texte sur les écrans plus petits */
    margin-left: 10%; /* Ajuste la marge pour centrer le texte */
    font-size: 100%; /* Ajuste la taille de la police pour une meilleure lisibilité */
    line-height: 2.2; /* Ajuste la hauteur de ligne pour une meilleure lisibilité */
  }

  
    .react-section{
      width: 500px;
    }
    

    .row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .col-2,
    .col-4,
    .col-5,
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .bloc {
      text-align: center;
      margin-bottom: 20px;
    }

    .avis {
        padding: 15px;
    }

    .profil-photo {
        width: 70px;
        height: 70px;
    }
  }



  img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

    [class*="col-"]{
        float:left;
        padding: 16px;
    }

    .row:after{
        content: "";
        clear: both;
        display: table;
    }