/* Réinitialisation des marges et des rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin+Sans", sans-serif;
}

/* Style général du header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 30px; /* Ajout de rembourrage pour plus d'espace */
  color: white;
  text-align: center; /* Centrer le texte */
}

/* Style du logo */
.logo {
  margin-right: 50px; /* Espacement à droite du logo */
}

.logo img {
  width: 200px; /* Ajustez la largeur du logo selon vos besoins */
  height: auto;
  max-width: 100%; /* Empêcher le logo de dépasser la largeur du conteneur */
}

/* Style de la navigation */
nav ul {
  list-style: none;
  display: flex;
  font-size: 18px; /* Augmentation de la taille de la police pour les liens */
  gap: 250px; /* Espacement entre les liens */
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Media Queries pour rendre le header responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px; /* Espacement en bas du logo */
    margin-right: 0; /* Ajustement pour la version mobile */
  }

  nav ul {
    margin-left: 0; /* Ajustement pour la version mobile */
    padding-left: 0; /* Ajustement pour la version mobile */
    gap: 37px; /* Espacement entre les liens pour la version mobile */
  }
}
